@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf9; /* light mode background */
  --foreground: #0c0a09; /* light mode text */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0a09; /* dark mode background (stone-950) */
    --foreground: #fafaf9; /* dark mode text (stone-50) */
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* The font family is now handled by your tailwind.config.ts if you apply classes like 'font-sora' */
}